* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-y: hidden;
}
a{
    text-decoration: none;
}
body {
  color: #fff;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #000;
  padding: 15px 40px;
  border-radius: 10px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  z-index: 100;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #d32f2f;
}

/* Hero Section */
.hero {
  height: 100vh;
  background: url('https://thumbs.dreamstime.com/b/brain-paper-cutout-purple-background-representing-cognitive-function-memory-conceptual-against-symbolizes-intelligence-383582478.jpg') center/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.hero-content {
  position: relative;
  text-align: center;
  z-index: 2;
  max-width: 800px;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.hero-content h1 span {
  color: #fff;
}

.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 25px;
  color: #f0f0f0;
}

.start-btn {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 35px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.start-btn:hover {
  background: #000;
  color: #fff;
}

/* Responsive */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .nav-links {
    display: none;
  }
}
